.Policy {
    display: flex;
    justify-content: center;
}

.policyInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.policyInfo h1{
    margin: 10px 10px 10px 0;
}

.policyInfo h2{
    margin: 10px 10px 10px 0;
}

pre{
    word-wrap:break-word;
}


#shippingPrice table, th, td {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
  }

#shippingPrice thead {
    font-weight: bold;
}

.policyInfo p {
    text-indent: 30px;
}

#policy_toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: 45%;
}

.policy_toc_title {
    font-weight: 700;
    text-align: center;
}

#policy_toc_container li, #policy_toc_container ul, #policy_toc_container ul li{
    list-style: outside none none !important;
}

