.card{
    display:flex;
    flex-direction:column;
    width:205px;
    margin:10px;
    text-align:left;
    height:fit-content;
    min-width:150px;
    flex-wrap:wrap;
    height:350px;
    z-index: -500;
}
.productImg{
    min-width:150px;
    min-height:150px;
    width:200px;
    height:200px
}
.productImg img{
    width:100%
}
.productName{
    text-overflow:ellipsis;
    min-width:150px;
    height:60px;
    -webkit-line-clamp:1
}
.productName h4{overflow:hidden;text-overflow:ellipsis;min-width:150px;line-height:normal}.cartIcon{display:flex;justify-content:center;margin-bottom:10px}