.bar-wrapper{
    background-color: #61ebc6;
    display: flex;
    max-width: 100%;
    height:auto;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    border-radius: 30px;
    text-align: center;
    
}
.hot-text{
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    text-size-adjust: 30px;
    flex: auto;
    padding-left: 70px;
    max-width: 100%;
    height: auto;
}
.hot-text h1{
    font-size: 5vw 5vh;
}
.watchmore{
    /* margin-top:5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    height: auto;
    max-width: 100%;
    font-size: 1vw 2vh;
}
.watchmore a{
    color: white;
    text-transform: uppercase;
}
.watchmore p{
    color: black;
}